.article {
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 32px;
}

.info {
  color: #bcbcb7;
}

.divider {
  margin: 24px 0;
  border-color: darkgrey;
}

.imageWrapper {
  text-align: center;
}